@font-face {
  font-family: 'Futura-Bold';
  src: url('../../assets/fonts/futura/FuturaPTBold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura-Bold-Italic';
  src: url('../../assets/fonts/futura/FuturaPTBoldOblique.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura-Regular';
  src: url('../../assets/fonts/futura/FuturaPTBook.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura-Regular-Italic';
  src: url('../../assets/fonts/futura/FuturaPTBookOblique.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura-Cond-Bold';
  src: url('../../assets/fonts/futura/FuturaPTCondBold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura-Cond-Bold-Italic';
  src: url('../../assets/fonts/futura/FuturaPTCondBoldOblique.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura-Cond-Regular';
  src: url('../../assets/fonts/futura/FuturaPTCondBook.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura-Cond-Regular-Italic';
  src: url('../../assets/fonts/futura/FuturaPTCondBookOblique.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura-Cond-Extra-Bold';
  src: url('../../assets/fonts/futura/FuturaPTCondExtraBold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura-Cond-Extra-Bold-Italic';
  src: url('../../assets/fonts/futura/FuturaPTCondExtraBoldOblique.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura-Cond-Medium';
  src: url('../../assets/fonts/futura/FuturaPTCondMedium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura-Cond-Medium-Italic';
  src: url('../../assets/fonts/futura/FuturaPTCondMediumOblique.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura-Extra-Bold';
  src: url('../../assets/fonts/futura/FuturaPTExtraBold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura-Extra-Bold-Italic';
  src: url('../../assets/fonts/futura/FuturaPTExtraBoldOblique.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura-Medium';
  src: url('../../assets/fonts/futura/FuturaPTMedium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura-Extra-Medium-Italic';
  src: url('../../assets/fonts/futura/FuturaPTMediumOblique.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura-Light';
  src: url('../../assets/fonts/futura/FuturaPTLight.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura-Extra-Light-Italic';
  src: url('../../assets/fonts/futura/FuturaPTLightOblique.otf');
  font-weight: normal;
  font-style: normal;
}
