// ColorPicker Variables
$white-color: #ffffff;
$black-color: #000000;

//home tab variables
$home-text-color: #ff0;
$home-background: #00c2bf;
$home2-background: #f52270;
$home3-background: #20bc9c;
$home4-background: #b2bc20;
$home-height: 600px;
